#
# Systemd service configuration file for the polygon service. 
# Under Unix/Linux servers that use Systemd, it's a great 
# way to configure the service.
# 
# Usage: 
# systemdctl status polygon
# systemdctl start polygon
# systemdctl stop polygon
# systemdctl restart polygon
#

[Unit]
Description=polygon

[Service] 
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/polygon
Environment=PATH=/usr/local/bin:/usr/bin:/bin
Environment=NODE_ENV=production
ExecStart=/home/ec2-user/polygon/source/manage.py runserver 0.0.0.0
Restart=always

[Install]
WantedBy=multi-user.target



