#
# Systemd service configuration file for the tokener service. 
# Under Unix/Linux servers that use Systemd, it's a great 
# way to configure the service.
# 
# Usage: 
# systemdctl status tokener
# systemdctl start tokener
# systemdctl stop tokener
# systemdctl restart tokener
#

[Unit]
Description=tokener

[Service] 
User=webmaster
Group=webmaster
WorkingDirectory=/home/webmaster/tokener
Environment=NODE_ENV=production
ExecStart=/home/webmaster/tokener/tokener
Restart=always

[Install]
WantedBy=multi-user.target



